#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>

/* 定義は標準定数で統一 */
#define JP_HNK  INT4    
#define JP_MHNK INT5    
#define JP_ZNKJ GRAVE   
#define JP_MINS MINUS   
#define JP_EQL  EQUAL   
#define JP_LBKT LBKT    
#define JP_RBKT RBKT    
#define JP_BSLH BSLH    

/ {
    behaviors {
        lt_fast: lt_fast {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            quick-tap-ms = <125>;
            bindings = <&mo>, <&kp>;
        };

        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    combos {
        compatible = "zmk,combos";
        timeout-ms = <50>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T                                                        &kp UP                      &kp Y         &kp U  &kp I      &kp O    &kp P     &kp BSPC
&td0       &kp A  &kp S  &kp D     &kp F  &kp G                                              &kp LEFT  &kp ENTER  &kp RIGHT        &kp H         &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V  &kp B          &kp SPACE                               &kp DOWN                    &kp N         &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp LGUI  &mo 1  &lt_fast 3 SPACE                                                                  &lt_fast 3 ENTER  &mo 2  &kp RALT
            >;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&trans  &kp N1           &kp N2          &kp N3          &kp N4          &kp N5                                                         &mmv MOVE_UP                   &kp N6           &kp N7           &kp N8           &kp N9           &kp N0    &kp BSPC
&trans  &bt BT_CLR_ALL   &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3                    &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT        &kp HOME  &kp JP_ZNKJ
&trans  &rgb_ug RGB_OFF  &rgb_ug RGB_ON  &trans          &trans          &rgb_ug RGB_EFF  &kp C_MUTE                    &mmv MOVE_DOWN                   &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &kp END   &kp DEL
                                         &trans          &trans          &trans                                                                          &kp INS          &kp DEL          &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&trans  &kp EXCL      &kp AT        &kp HASH    &kp DLLR    &kp PRCNT                            &mmv MOVE_UP                     &kp CARET   &kp AMPS    &kp ASTRK   &kp LPAR    &kp RPAR     &kp BSPC
&trans  &bt BT_CLR    &mkp LCLK     &mkp MCLK   &mkp RCLK   &kp MB4                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp JP_MINS  &kp JP_EQL  &kp JP_LBKT  &kp JP_RBKT  &kp JP_BSLH  &kp GRAVE
&trans  &out OUT_USB  &out OUT_BLE  &none       &none       &kp MB5   &trans                    &mmv MOVE_DOWN                   &kp COMMA   &kp DOT     &kp FSLH    &kp QMARK    &kp PIPE     &kp TILDE
                                    &trans      &trans      &kp SPACE                                                            &kp RET      &trans      &trans
            >;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&bootloader     &kp F1      &kp F2      &kp F3        &kp F4      &kp F5                                                          &mmv MOVE_UP                     &kp F6        &kp F7      &kp F8        &kp F9       &kp F10          &kp F11
&trans          &kp JP_HNK  &kp JP_MHNK &none         &none       &none                                         &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &bootloader   &none       &mkp MCLK     &mkp RCLK    &kp PRINTSCREEN  &kp F12
&trans          &sys_reset  &trans      &bootloader   &trans      &kp MB5   &kp C_MUTE                    &mmv MOVE_DOWN                   &trans        &trans      &bootloader   &sys_reset   &kp SCROLLLOCK   &kp PAUSE_BREAK
                                        &trans        &trans      &trans                                                                          &trans        &trans      &trans
            >;
        };

        layer_4 {
            display-name = "DUMMY";
            bindings = <
&none  &kp JP_HNK   &kp JP_MHNK  &kp JP_ZNKJ  &kp JP_MINS  &kp JP_EQL                                     &mmv MOVE_UP                     &none  &kp JP_LBKT  &kp JP_RBKT  &kp JP_BSLH  &none  &none
&none  &none        &none        &none        &none        &none                           &mmv MOVE_LEFT &mkp LCLK  &mmv MOVE_RIGHT       &none  &none        &none        &none        &none  &none
&none  &none        &none        &none        &none        &none        &none              &mmv MOVE_DOWN                   &none  &none  &none  &none        &none        &none
                                 &none        &none        &none                                                            &none  &none  &none
            >;
        };
    };
};
